{% block footer %}
    <footer id="footer"
            class="ssp-footer text-center">
        <div class="container ssp-footer--container">
            <div class="row ssp-content-group--footer">
                <div class="copy col-sm-6 ssp-footer__item">
                    <a href="https://grnet.gr/">
                        <img
                                class="ssp-footer__item__logo"
                                src="/{{baseurlpath}}/themevanilla/assets/images/logo.png"
                                alt="GRNET"
                        />
                    </a>
                    <div class="ssp-footer__item__copyright"> Copyright 2017-2023</div>
                </div>
                <div class="col-sm-3 ssp-footer__item">
                    <div class="ssp-footer__item__powered">
                        Powered by <a href="https://github.com/rciam">RCIAM</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}