// Colors
// Color names from: http://chir.ag/projects/name-that-color

$white: #fff;
$black: #000;
$denim: #0d6fcc;
$carrot-orange: #ec971f;
$curious-blue: #349bdb;
// Gray
$alabaster: #f7f7f7;
$silver: #cdc9c9;
$scorpion: #5b5b5b;
$manatee: #90929D;
$mouse: #848484;
$emperor: #515151;

// Bootstrap colors
$link-color: $denim;
$table-border-color: transparent;

// Colors for idps buttons with icons
$orcid: #a7cc46;
$facebook: #3d5a96;
$linkedin: #1178b3;
$google: #4285f4;
$google-font: #757575;
$elixir: #ff7a03;
$igtf: #2b2a29;
$dariah-text: #414b7e;
$dariah-border: #a5a5c1;
$b2access-orange: #e98404;
$b2access-blue: #1d418f;
$aria: #639825;
$eduteams-yellow: #f1ccb3;
$eduteams-yellow-dark: #e59959;
$egi-gray: #b1b1b1;
$egi-cyan: #a2c5df;
$openaire-lightblue: #4686e6;
$openaire-blue: #39378d;
$openminted: #02bab4;
$wechat: #2dc101;
$qq: #4292FF;
$epos: #10482A;
$bitbucket: #0747a6;
$github: #24292e;
