/*
 * Naming conventions: BEM with prefix "b" (b comes from bem).
 * Using this method can also separate the custom css rules from bootstrap's
 * rules.
 */

$footer-height: 68px;

.b-footer {
    position: absolute;
    bottom: 0;
    height: $footer-height;
    width: 100%;
    background: $footer-bg;
    background: $btn-primary;
    color: $white;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    @at-root #{&}__container {
        padding: 1.5rem;
    }
    @at-root #{&}__col1 {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

.b-form-favourite {
    display: inline-block;
    padding-left: 1rem;
}

.b-panel {
    border: none;
    box-shadow: none;
    margin-bottom: 6px;
    #{&}__heading {
        background-color: $panel-heading-bg-color;
        border: $panel-heading-border;
    }
}
.b-panel-providers {
    @at-root #{&}__list {
        overflow: scroll;
        padding-left: 4rem;
        a {
            display: inline-block;
            position: relative;
            // margin-right: 2rem;
            // padding-right: 1rem;
            // padding-left: 1rem;
            padding: 8px;
            &:hover {
                background-color: #f7f7f7;
            }
        }
        @at-root #{&}__favourite__icon {
            color: $brand-warning;
            position: absolute;
            left: -2rem;
            font-size: 1.7rem;
            line-height: 1.2;
        }
    }
    #{&}__heading {
        background-color: $panel-heading-bg-color;
        border: $panel-heading-border;
    }
    @at-root #{&}__list--edugain {
        height: 17rem;
        margin-top: $panel-body-padding;
        a {
            display: block;
        }
    }
    @at-root #{&}__list--other {
        height: 48px;
    }
}

::-webkit-input-placeholder {
  color: $placeholder;
}

.b-table {
    margin-bottom: 0px;
    @at-root #{&}--tr__odd {
        background-color: $gray-lighter3;
    }
    @at-root #{&}--attrname {
        width: 300px;
        overflow: hidden;
        float: left;
        word-break: break-word;
        text-align: right;
        padding-right: 20px;
        font-weight: bold;
    }
    @at-root #{&}--attrvalue {
        overflow: hidden;
        word-break: break-word;
        @at-root #{&}--list--item {
            border-bottom: 1px solid $gray-lighter;
            padding: 6px 0px;
        }
    }
}

.b-btns-container {
    text-align: center;
    @at-root #{&}--checkbox {
        margin: 3em 1em 2em 1em
    }
    @at-root #{&}--btn__right {
        margin-left: 1em;
    }
    @at-root #{&}--btn__left {
        margin-right: 1em;
    }
}

.b-dropdown__cols2 {
    width: 32rem;
    padding: px2rem(5px);
    @at-root #{&}--item {
        width: 50%;
        float: left;
    }
}

// TODO: update the classes of nested elemenets
.b-attrs--container {
    height: 34rem;
    overflow: scroll;
    padding: 16px;
    margin-bottom: 29px;
}

// Experiments
*:focus {
    outline: none !important;
    border:1px solid $gray-lighter2 !important;
    box-shadow: 0 0 10px $brand-primary !important;
}

.metalist .provider-icon {
    display: inline-block;
    padding: 0;
    margin-right: 2rem;
    margin-top: 6px;
    border-radius: 19px;
    img {
        height: 36px;
        border-radius: 19px;
    }
}

body {
    margin-bottom: $footer-height;
    font-family: Raleway, sans-serif;
}

html {
    min-height: 100%;
    position: relative;
}

.b-btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-rendering:optimizeLegibility;
    padding: 12px 18px;
    line-height: 1.4;
    border-radius: 0;
    @at-root #{&}__action {
        background-color: $btn-primary;
        color: $white;
        border-color: transparent;
        &:focus, &:active {
            background-color: $btn-primary;
            color: $white;
            border-color: transparent;
        }
        &:hover {
            background-color: $white;
            color: darken($btn-primary, 10%);
            border-color: $btn-primary;
        }
    }
    @at-root #{&}__cancel {
        background-color: $gray-light;
        color: $white;
        border-color: transparent;
        &:focus, &:active {
            background-color: $gray-light;
            color: $white;
            border-color: transparent;
        }
        &:hover {
            background-color: $white;
            color: $gray;
            border-color: $gray-light;
        }
    }
}

.b-h2--small {
    display: block;
    font-size: 14px;
    line-height: 1.4;
    color: #90929D;
    text-transform: none;
    letter-spacing: 0;
    font-style: italic;
    font-family: 'Open Sans';
}

.b-img-right {
    position: relative;
    bottom: -10px;
}

.b-img {
   height: 60px;
}

.b-h2 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: none!important;
    font-weight: 300;
    color: #5b5b5b;
    margin-bottom: 0px;
}

.b-h1__link:hover {
    text-decoration: none;
}
.b-h1__link--right {
    margin-left: 20px;
}

.b-h3 {
    font-family: 'Open Sans', sans-serif;
    text-transform: none!important;
    font-weight: 300;
    font-size: 20px;
    margin-top: 30px;
}

.b-h4 {
    font-family: 'Open Sans', sans-serif;
    text-transform: none!important;
    font-weight: 300;
    font-size: 18px;

}

.b-dropdown-container {
    // position: absolute;
    // left: auto;
}

.tmp-lang {
    position: absolute;
    left: 30px;
}
