// Color rules for the buttons that have icons

.ssp-btn {
    &.elixir {
        background-color: $elixir;
    }
    &.igtf {
        color: $igtf;
        background-color: $white;
        border: 1px solid $igtf;
    }
    &.google {
        background-color: $google;
    }
    &.orcid {
        color: darken($orcid, 10%);
        background-color: $white;
        border: 1px solid $orcid;
    }
    &.linkedin {
        background-color: $linkedin;
    }
    &.facebook {
        background-color: $facebook;
    }
}
