// Color rules for the buttons that have icons

.ssp-btn {
    &.b2access {
        background-color: $b2access-blue;
        padding: 3px 6px;
        img {
            height: 30px;
        }
    }
    &.elixir {
        background-color: $elixir;
    }
    &.igtf {
        color: $igtf;
        background-color: $white;
        border: 1px solid $igtf;
    }
    &.dariah {
        color: $dariah-text;
        background-color: $white;
        border: 1px solid $dariah-border;
        font-weight: 500;
        padding-top: 7px;
        padding-bottom: 5px;
    }
    &.google {
        background-color: $google;
    }
    &.orcid {
        color: darken($orcid, 10%);
        background-color: $white;
        border: 1px solid $orcid;
    }
    &.linkedin {
        background-color: $linkedin;
    }
    &.facebook {
        background-color: $facebook;
    }
    &.aria {
        background-color: $aria;
        img {
            height: 24px;
            margin: 6px 0;
        }
    }
    &.eduteams {
        background-color: $white;
        border: $eduteams-yellow 1px solid;
        &:hover {
            border-color: $eduteams-yellow-dark;
        }
        img {
            height: 32px;
            margin: 2px 0;
        }
    }
    &.egi {
        background-color: $white;
        border: $egi-gray 1px solid;
        color: $black;
        padding: 2px 6px;
        &:hover {
            border-color: $egi-cyan;
            color: darken($egi-cyan, 30%);
        }
        span {
            position: relative;
            bottom: -4px;
        }
        img {
            height: 30px;
            margin-right: 6px;
        }

    }
    &.openaire {
        background-color: $white;
        border: $openaire-lightblue 1px solid;
        &:hover {
            border-color: $openaire-blue;
        }
        img {
            height: 30px;
            margin: 2px 0 4px;
        }
    }
    &.openminted {
        background-color: $white;
        border: $openminted 1px solid;
        &:hover {
            border-color: darken($openminted, 20%);
        }
        img {
            height: 16px;
            margin: 10px 0;
        }
    }
}
