// Color rules for the buttons that have icons

.ssp-btn {
    &.b2access {
        background-color: $b2access-blue;
        padding: 3px 6px;
        img {
            height: 30px;
        }
    }
    &.elixir {
        background-color: $elixir;
        border: 1px solid $elixir;
    }
    &.igtf {
        color: $igtf;
        background-color: $white;
        border: 1px solid $igtf;
    }
    &.dariah {
        color: $dariah-text;
        background-color: $white;
        border: 1px solid $dariah-border;
        font-weight: 500;
        padding-top: 7px;
        padding-bottom: 5px;
    }
    &.google {
        background-color: white;
        border-color: $google;
        color: $google-font;
        font: 500 14px 'Roboto', sans-serif;
    }
    &.google-dark {
		padding-bottom: 10px;
        background-color: $google;
        border-color: $google;
        color: white;
        font: 500 14px 'Roboto', sans-serif;
        letter-spacing: normal;
		span {
			display: inline-block;
			line-height: 20px;
			position: relative;
			top: 2px;
		}
        img {
            background: white;
            height: 34px;
            padding: 8px;
            margin-right: 24px;
            position: absolute;
            left: 1px;
            top: 1px;
        }
    }
    &.orcid {
        color: darken($orcid, 10%);
        background-color: $white;
        border: 1px solid $orcid;
    }
    &.linkedin {
        background-color: $linkedin;
        border: 1px solid $linkedin;
    }
    &.facebook {
        background-color: $facebook;
        border: 1px solid $facebook;
    }
    &.aria {
        background-color: $aria;
        border: 1px solid $aria;
        img {
            height: 24px;
            margin: 6px 0;
        }
    }
    &.eduteams {
        background-color: $white;
        border: $eduteams-yellow 1px solid;
        &:hover {
            border-color: $eduteams-yellow-dark;
        }
        img {
            height: 32px;
            margin: 2px 0;
        }
    }
    &.egi {
        background-color: $white;
        border: $egi-gray 1px solid;
        color: $black;
        padding: 2px 6px;
        &:hover {
            border-color: $egi-cyan;
            color: darken($egi-cyan, 30%);
        }
        span {
            position: relative;
            bottom: -4px;
        }
        img {
            height: 30px;
            margin-right: 6px;
        }

    }
    &.openaire {
        background-color: $white;
        border: $openaire-lightblue 1px solid;
        &:hover {
            border-color: $openaire-blue;
        }
        img {
            height: 30px;
            margin: 2px 0 4px;
        }
    }
    &.openminted {
        background-color: $white;
        border: $openminted 1px solid;
        &:hover {
            border-color: darken($openminted, 20%);
        }
        img {
            height: 16px;
            margin: 10px 0;
        }
    }
     &.wechat {
        background-color: $white;
        border: $wechat 1px solid;
        color: $wechat;
        font-weight: bold;
        &:hover {
            color: darken($wechat, 10%);
        }
    }
    &.qq {
        background-color: $qq;
    }
    &.epos {
	border-color: $epos;
	background-color: $white;
        img {
            padding: 5px;
            margin-right: 0;
        }
    }
    &.bitbucket {
        border-color: $bitbucket;
        background-color: $white;
        span {
            display: none;
        }
        img {
            padding: 5px;
            margin-right: 0;
        }
    }
    &.github {
        border-color: $github;
        background: $white url("../images/github.png") no-repeat center center;
        background-size: 55%;
        span {
            display: none;
        }
        img {
            visibility: hidden;
        }
        &:hover {
            background: $white url("../images/github-mark.png") no-repeat center center;
            background-size: 26px;
        }
    }
}
