// $brand-primary: #68b8b3;
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;
$brand-top-bottom: #fff;


$panel-heading-bg-color: #fff;
$panel-heading-border: none;

// colors for experiments

// $brand-primary: #1db9b3;
$brand-primary: #56bdb9;
$brand-text: #199F9A;
$footer-bg: $brand-primary;
$gray-lighter2: #cdc9c9;
$gray-lighter3: #fafafa;
$link-color: #1f5481 !global;

$placeholder: $brand-primary;

$table-border-color: transparent;
// $font-size-base: 16px;
$font-family-base: Raleway, sans-serif;
$btn-primary: #68b8b3;
$white: #fff;
$link-color: #0d6fcc;
$container-lg: 970px;;
