// Colors
// Color names from: http://chir.ag/projects/name-that-color

$tradewind: #68b8b3; //green blue
$white: #fff;
$denim: #0d6fcc;
$carrot-orange: #ec971f;
// Gray
$alabaster: #f7f7f7;
$silver: #cdc9c9;
$scorpion: #5b5b5b;
$manatee: #90929D;

// Bootstrap variables
$link-color: $denim;
$table-border-color: transparent;
$container-lg: 970px;

