// Colors
// Color names from: http://chir.ag/projects/name-that-color

$white: #fff;
$black: #000;
$denim: #0d6fcc;
$carrot-orange: #ec971f;
$curious-blue: #349bdb;
// Gray
$alabaster: #f7f7f7;
$silver: #cdc9c9;
$scorpion: #5b5b5b;
$manatee: #90929D;
$mouse: #848484;
$emperor: #515151;

// Bootstrap variables
$link-color: $denim;
$table-border-color: transparent;
$container-lg: 970px;

// Social and MISC providers colors
$orcid: #a7cc46;
$facebook: #3d5a96;
$linkedin: #1178b3;
$google: #da4b3e;
