// background color of primary button
$btn-action: $tradewind; // #68b8b3
$btn-warning: $carrot-orange;
$footer-bg: $tradewind;
$footer-text: $white; // #fff
$footer-link: $link-color; // #0d6fcc
// text and border color of button that is in the footer
$btn-footer: $white;

$logo-height: 60px;
