// background color of primary button
$btn-action: $curious-blue; // #349bdb
$btn-warning: $carrot-orange; // #ec971f
$footer-bg: $white;
$footer-text: $black;
$footer-link: darken($link-color, 10%); // #349bdb

// text and border color of button that is in the footer
$btn-footer-text: $black;
$btn-footer-border-hover: $silver; // #cdc9c9

// tooltip colors
$tooltip-bg: darken($curious-blue, 20%);
$tooltip-color: $white;

$logo-height: 60px;
