// Header
$header-font-weight: 300;
$header-margin-top: 10px;
$header-margin-bottom: 10px;

// Buttons
$btn-margin: 6px 2px;
$btn-padding-y-axis: 15px;
$btn-padding-x-axis: 18px;
$btn-distance: 12px;
$btn-img-with-label-height: 24px;
$btn-img-no-label-height: 36px;
$btn-img-copy-height: 20px;

// Footer variables
$footer-font-size: 12px;
$footer-font-weight: 300;
$footer-logo-height: 40px;

// Bootstrap variables
$container-lg: 970px;
